{% extends 'base.html.twig' %}

{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.2/"
        }
    }
</script>

<script src="{{ asset('js/select2.js') }}" defer></script>
<script type="module" src="{{ asset('js/ckeditor-config.js') }}" defer></script>
{% endblock %}

{% block title %} | Admin - {{ title }}{% endblock %}

{% block body %}
<div class="container my-5">
    <section>
        <h1 class="h3 mb-3 font-weight-normal">{{ title }}</h1>

        {% include 'partials/flash.html.twig' %}

        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.addressComplement) }}
                    {{ form_row(form.city.postalCode) }}
                    {{ form_row(form.city.name) }}
                    {{ form_row(form.description) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.disciplines, {'attr': {'class': 'select2-autocomplete'}}) }}
                    {{ form_row(form.logo) }}
                    {{ form_row(form.coverImage) }}
                    {{ form_row(form.website) }}
                    {{ form_row(form.instagram) }}
                    {{ form_row(form.facebook) }}
                    {{ form_row(form.youtube) }}

                    {% if is_granted('ROLE_ADMIN') %}
                        {{ form_row(form.admin_email, {'attr': { 'required': true }}) }}
                    {% endif %}
                </div>
            </div>

            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </section>
</div>
{% endblock %}
