{% extends 'base.html.twig' %}

{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %} | Créer ou modifier un utilisateur{% endblock %}

{% block body %}
<div class="container my-5">
    <section>
        <h1 class="h3 mb-3 font-weight-normal">Créer ou modifier un utilisateur</h1>

        {% include 'partials/flash.html.twig' %}

        <div class="row">
            <div class="col-md-8 col-lg-6 m-auto">
                {{ form_start(form, {'attr': {'aria-labelledby': 'user-form-title'}}) }}
                    <fieldset>
                        <legend id="user-form-title" class="visually-hidden">Formulaire de création ou modification d'utilisateur</legend>
                        
                        {{ form_row(form.name, {'label_attr': {'aria-label': 'Nom'}}) }}
                        {{ form_row(form.firstname, {'label_attr': {'aria-label': 'Prénom'}}) }}
                        {{ form_row(form.email, {'attr': {'autocomplete': 'email'}, 'label_attr': {'aria-label': 'E-mail'}}) }}
                        {{ form_row(form.phone, {'label_attr': {'aria-label': 'Téléphone'}}) }}
                        {{ form_row(form.roles, {'label_attr': {'aria-label': 'Rôles'}}) }}
                        {{ form_row(form.plainPassword, {'label_attr': {'aria-label': 'Mot de passe'}}) }}
                        {{ form_row(form.submit, {'attr': {'aria-label': 'Enregistrer les modifications'}}) }}
                    </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
</div>
{% endblock %}
