{% extends 'base.html.twig' %}

{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>
<script src="{{ asset('js/datatable-users.js') }}"></script>
{% endblock %}

{% block title %} | Membres{% endblock %}

{% block body %}
<div class="container-fluid my-5">

    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">Utilisateurs</h1>

        {% include 'partials/flash.html.twig' %}
    </div>

    <div class="table-responsive">
        <table class="table" id="table-users" aria-labelledby="table-users-title">
            <caption id="table-users-title" class="visually-hidden">Liste des utilisateurs</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Club</th>
                    <th scope="col">Vérifié</th>
                    <th scope="col">Date d'enregistrement</th>
                    <th scope="col">Dernière connexion</th>
                    <th scope="col">Rôles</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.club ? user.club.name : 'Aucun' }}</td>
                        <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                        <td>{{ user.registrationDate|date('d/m/Y') }}</td>
                        <td>{{ user.lastLoginDate ? user.lastLoginDate|date('d/m/Y') : 'Jamais' }}</td>
                        <td>
                            {% for role in user.roles %}
                                <span class="badge text-bg-secondary">{{ role }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning btn-sm" aria-label="Modifier l'utilisateur {{ user.name }}">Modifier</a>
                            <a href="{{ path('app_user_delete', {'id': user.id}) }}" class="btn btn-danger btn-sm" aria-label="Supprimer l'utilisateur {{ user.name }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
