{% extends 'base.html.twig' %}

{% block title %} | {{ event.title }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/event-show.css') }}">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/select2.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="container-fluid mt-2 mb-5">
    {% include 'partials/flash.html.twig' %}

    <div class="container my-5 row m-auto">
        <div class="col-md-3">
            <picture>
                <source srcset="{{ (asset('images/uploads/event/') ~ (event.image ? event.id ~ '/' ~ event.image : 'default_cover.webp'))  | imagine_filter('cover_article_event_show_webp') }}" type="image/webp">
                <source srcset="{{ (asset('images/uploads/event/') ~ (event.image ? event.id ~ '/' ~ event.image : 'default_cover.webp'))  | imagine_filter('cover_article_event_show_jpg') }}" type="image/jpeg">
                <img src="{{ asset('images/uploads/event/') ~ (event.image ? event.id ~ '/' ~ event.image : 'default_cover.webp') }}" alt="Couverture de l'évènement {{ event.title }}" class="img-fluid object-fit-cover w-100 rounded event-cover" aria-describedby="event-description" loading="lazy" width="1000" height="500">
            </picture>
        </div>

        <section class="mb-5 mt-2 align-items-center gap-3 col-md-9">
            <h1 class="font-weight-normal">{{ event.title }}</h1>

            <p>Du {{ event.startDate|date('d/m/Y à H:i') }} au {{ event.endDate|date('d/m/Y à H:i') }}</p>

            <p class="card-text mb-0 text-body-secondary">Adresse : {{ event.place ? event.place : 'Non précisée' }}</p>
            <p class="card-text mb-0 text-body-secondary">Ville : {{ event.city and event.city.name ? event.city.name : 'Non précisée' }} {{ event.city and event.city.postalCode ? '(' ~ event.postalCode ~ ')' : '' }}</p>
            <p class="card-text mb-0 text-body-secondary">Club : {{ event.club ? event.club.name : 'Non précisé' }}</p>
            <p class="card-text mb-0 text-body-secondary">E-mail du contact : {{ event.email ? event.email : 'Non précisé' }}</p>
            <p class="card-text mb-0 text-body-secondary">Téléphone du contact : {{ event.phone ? event.phone : 'Non précisé' }}</p>
            <p class="card-text mb-0 text-body-secondary">Site : 
                {% if event.website is not empty %}
                    <a href="{{ event.website }}">{{ event.website }}</a>
                {% else %}
                    Non précisé
                {% endif %}
            </p>
            <p class="card-text mb-0 text-body-secondary">Lien Facebook :
                {% if event.facebookLink is not empty %}
                    <a href="{{ event.facebookLink }}">{{ event.facebookLink }}</a>
                {% else %}
                    Non précisé
                {% endif %}
            </p>
            <p class="card-text mb-3 text-body-secondary">Lien Instagram :
                {% if event.instagramLink is not empty %}
                    <a href="{{ event.instagramLink }}">{{ event.instagramLink }}</a>
                {% else %}
                    Non précisé
                {% endif %}
            </p>

            <p id="event-description">{{ event.text|raw|nl2br }}</p>
        </section>

        {% if is_granted('ROLE_MEMBER_VARSPORTS') %}
        <section class="mt-4">
            <h2>Membres VarSports</h2>
            <ul class="text-body-secondary">
                {% for varsportsMember in event.varsportsMembers %}
                    <li>{{ varsportsMember.name }} {{ varsportsMember.firstname }}</li>
                {% endfor %}
            </ul>
            <div>
                {{ form_start(form, {'attr': {'aria-label': 'Ajouter/Supprimer des membres VarSports'}}) }}
                    {{ form_row(form.varsportsMembers, {'attr': {'aria-label': 'Ajouter/Supprimer des membres VarSports', 'class': 'select2-autocomplete'}}) }}
                    {{ form_row(form.submit, {'attr': {'aria-label': 'Soumettre', 'class': 'btn btn-primary'}}) }}
                {{ form_end(form) }}
            </div>
        </section>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMIN_CLUB') and app.user.club is not null and event.club is not null and app.user.club.id == event.club.id %}
            <section class="mt-5">
                <h2>Actions</h2>
                <a href="{{ path('app_admin_event_edit', {'id': event.id}) }}" class="btn btn-warning" rel="nofollow" role="button" aria-label="Modifier l'événement">Modifier</a>
                <a href="{{ path('app_admin_event_delete', {'id': event.id}) }}" class="btn btn-danger" rel="nofollow" role="button" aria-label="Supprimer l'événement">Supprimer</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin_event_validate', {'id': event.id}) }}" class="btn btn-primary" rel="nofollow" role="button" aria-label="{{ event.isValidated ? 'Invalider' : 'Valider' }} l'évènement">{{ event.isValidated ? 'Invalider' : 'Valider' }}</a>
                {% endif %}
            </section>
        {% endif %}
    </div>
</div>
{% endblock %}
