{% extends 'base.html.twig' %}

{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css">
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% include 'partials/js-ckeditor.html.twig' %}
{% endblock %}

{% block title %} | Admin - {{ title }}{% endblock %}

{% block body %}
<div class="container my-5">
    <section>
        <h1 class="h3 mb-3 font-weight-normal">{{ title }}</h1>

        {% include 'partials/flash.html.twig' %}

        {{ form_start(form, {'attr': {'aria-labelledby': 'form-title'}}) }}
            <fieldset>
                <legend id="form-title" class="visually-hidden">Formulaire {{ title }}</legend>

                {{ form_row(form.title, {'label_attr': {'aria-label': 'Titre'}}) }}
                {{ form_row(form.text, {'label_attr': {'aria-label': 'Texte'}}) }}
                {{ form_row(form.place, {'label_attr': {'aria-label': 'Lieu'}}) }}
                <div class="row mb-3">
                    {{ form_row(form.city.postalCode, {'row_attr': {'class': 'col-md-6'}, 'label_attr': {'aria-label': 'Code postal'}}) }}
                    {{ form_row(form.city.name, {'row_attr': {'class': 'col-md-6'}, 'label_attr': {'aria-label': 'Ville'}}) }}
                </div>
                <div class="row mb-3">
                    {{ form_row(form.startDate, {'row_attr': {'class': 'col-md-6'}, 'label_attr': {'aria-label': 'Date de début'}}) }}
                    {{ form_row(form.endDate, {'row_attr': {'class': 'col-md-6'}, 'label_attr': {'aria-label': 'Date de fin'}}) }}
                </div>
                {{ form_row(form.image, {'label_attr': {'aria-label': 'Image'}}) }}

                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.email, {'label_attr': {'aria-label': 'E-mail du contact'}}) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.phone, {'label_attr': {'aria-label': 'Téléphone du contact'}}) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.website, {'label_attr': {'aria-label': 'Site de l\évènement'}}) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.facebookLink, {'label_attr': {'aria-label': 'Lien Facebook'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.instagramLink, {'label_attr': {'aria-label': 'Lien Instagram'}}) }}
                    </div>
                </div>

                {{ form_row(form.submit, {'attr': {'aria-label': 'Soumettre le formulaire'}}) }}
            </fieldset>
        {{ form_end(form) }}
    </section>
</div>
{% endblock %}
