{% extends 'base.html.twig' %}

{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.2/"
        }
    }
</script>

<script type="module" src="{{ asset('js/ckeditor-config.js') }}" defer></script>
{% endblock %}

{% block title %} | Admin - {{ title }}{% endblock %}

{% block body %}
<div class="container my-5">
    <section>
        <h1 class="h3 mb-3 font-weight-normal">{{ title }}</h1>

        {% include 'partials/flash.html.twig' %}

        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.text) }}
            <div class="row mb-3">
                {{ form_row(form.startDate, {'row_attr': {'class': 'col-md-6'}}) }}
                {{ form_row(form.endDate, {'row_attr': {'class': 'col-md-6'}}) }}
            </div>
            {{ form_row(form.image) }}

            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </section>
</div>
{% endblock %}
