{% extends 'base.html.twig' %}

{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %} | Admin - Disciplines{% endblock %}

{% block body %}
<div class="container my-5">
    <section>
        <h1 class="h3 mb-3 font-weight-normal">Disciplines</h1>

        <div class="row">
            <div class="col-md-4">
                {% include 'partials/flash.html.twig' %}

                {{ form_start(form, {'attr': {'aria-labelledby': 'form-title'}}) }}
                    <fieldset>
                        <legend id="form-title" class="visually-hidden">Add or Edit Discipline</legend>

                        {{ form_row(form.label, {'attr': {'aria-required': 'true'}}) }}

                        <div class="form-group">
                            {{ form_row(form.submit, {'label': 'Submit', 'attr': {'aria-label': 'Soumettre le formulaire'}}) }}
                        </div>
                    </fieldset>
                {{ form_end(form) }}
            </div>

            <div class="col-md-6">
                <table class="table" role="table" aria-labelledby="disciplines-table">
                    <caption id="disciplines-table" class="visually-hidden">Liste des disciplines</caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Label</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for discipline in disciplines %}
                            <tr>
                                <th scope="row">{{ discipline.id }}</th>
                                <td>{{ discipline.label }}</td>
                                <td>
                                    <a class="btn btn-warning" href="{{ path('app_admin_discipline_edit', {'id': discipline.id}) }}" aria-label="Modifier {{ discipline.label }}">Modifier</a>
                                    <a class="btn btn-danger" href="{{ path('app_admin_discipline_delete', {'id': discipline.id}) }}" aria-label="Supprimer {{ discipline.label }}">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
{% endblock %}
