{% extends 'base.html.twig' %}

{% block title %} | Accueil{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
{% if latest_articles|length %}
<article class="my-5 container" aria-labelledby="latest-articles-title">
    <h2 id="latest-articles-title">Nos derniers articles publiés</h2>
    <div class="row justify-content-center">
        {% for article in latest_articles %}
            {% include 'article/partials/list-item.html.twig' with { article: article } %}
        {% endfor %}
    </div>
    <div class="text-center">
        <a href="{{ path('app_article_list') }}" class="btn btn-lg btn-varsports" aria-label="Voir tous les articles publiés sur VarSports">Voir tous</a>
    </div>
</article>
{% endif %}

{% if profile %}
<article class="my-5 container" aria-labelledby="profile">
    <h2 class="text-varsports h3" id="profile">Le portrait</h2>
    <div class="row">
        <div class="col-md-6 mb-3">
            <picture>
                <source srcset="{{ (asset('images/uploads/article/') ~ (profile.image ? profile.id ~ '/' ~ profile.image : 'default_cover.webp'))  | imagine_filter('cover_article_event_show_webp') }}" type="image/webp">
                <source srcset="{{ (asset('images/uploads/article/') ~ (profile.image ? profile.id ~ '/' ~ profile.image : 'default_cover.webp'))  | imagine_filter('cover_article_event_show_jpg') }}" type="image/jpeg">
                <img src="{{ asset('images/uploads/article/') ~ (profile.image ? profile.id ~ '/' ~ profile.image : 'default_cover.webp') }}" alt="Couverture de l'article {{ profile.title }}" class="img-fluid object-fit-cover w-100 rounded article-cover" loading="lazy" width="1000" height="500">
            </picture>
        </div>
        <div class="col-md-6">
            <h3 class="h4 text-varsports" id="article-{{ profile.id }}-title">{{ profile.title }}</h3>
            <p>{{ profile.text|raw|nl2br }}</p>
            <a href="{{ path('app_article_show', {'slug': profile.slug}) }}" class="btn btn-varsports" aria-label="Lire l'article">Lire l'article</a>
        </div>
    </div>
</article>
{% endif %}

<article class="my-5 container" aria-labelledby="about">
    <h2 class="text-varsports h3" id="about">À propos de VarSports</h2>
    <p><span class="text-varsports">VarSports</span> est le Premier journal du Sport Varois : Informations, Agenda, Portraits, Collectivités, Résultats, Jeux, Classements, etc. Un journal qui permet à l'ensemble des acteurs sportifs, de disposer gratuitement d'un réel réseau sur lequel chacun peut exprimer ses performances, ses compétences, ses mouvements, ses besoins ainsi que ses différentes manifestations et rdv… Bien plus que de l'activité physique, l'entraînement ou la compétition; le sport est un outil de construction de soi permettant de se s'épanouir en tant qu'individu et s'approprier de nobles valeurs telles que : Respect, Fair-play & Tolérance. De son audience sur le web et les réseaux sociaux, VarSports fédère et encourage à explorer, jouer, discuter, partager dont découlent des liens solides entre : clubs, licenciés, dirigeants, collectivités territoriales, sponsors, familles et le public.</p>

    <p>Vous aussi, faites connaître votre Club ! ” Envoyez-nous vos infos & photos, nous les publions illico !” - Écrire à : <a href="mailto:info@varsports.fr" class="text-varsports">info@varsports.fr</a></p>

    <p class="text-body-tertiary">#running #football #rugby #volleyball #athlétisme #handball #basketball #futsal #boxe #fitness #golf #handisport #combat #fight #défense #natation #musculation #judo #randonnée #vol #volavoile #canicross #bmx #tir #athlétisme #vtt #plongée #aviron #padel #surf #tennis #paddle #triathlon #kitefoil #kite surf #voile #crossfit #danse #cyclisme #trail #run #balles #ballon #raquettes #courts #course #info #informations #var #sports #varsports</p>
</article>
{% endblock %}
