{% extends 'base.html.twig' %}

{% block title %} | Accueil{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{{ asset('js/home.js') }}"></script>
{% endblock %}

{% block body %}
{% if articles_to_note|length %}
<article class="mt-5 container articles-to-note" aria-labelledby="articles-to-note">
    <h2 class="text-varsports h3" id="articles-to-note">À noter</h2>

    <div class="swiper w-100 h-100 py-3 px-5">
        <div class="swiper-wrapper">
            {% for article in articles_to_note %}
                <div class="swiper-slide d-flex align-items-center justify-center h-100">
                    {% include 'home/partials/list-item-article-to-note.html.twig' with { article: article } %}
                </div>
            {% endfor %}
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</article>
{% endif %}

{% if articles_social|length %}
<article class="container articles-social" aria-labelledby="articles-social">
    <h2 class="text-varsports h3" id="articles-social">L'info des réseaux</h2>

    <div class="swiper w-100 h-100 py-3 px-5">
        <div class="swiper-wrapper">
            {% for article in articles_social %}
                <div class="swiper-slide d-flex align-items-center justify-center text-center">
                    {% include 'home/partials/list-item-article-social.html.twig' with { article: article } %}
                </div>
            {% endfor %}
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</article>
{% endif %}

{% if articles_spotlight|length %}
<article class="container articles-spotlight" aria-labelledby="articles-spotlight">
    <h2 class="text-varsports h3" id="articles-spotlight">À la une</h2>

    {% for article in articles_spotlight %}
        {% include 'home/partials/list-item-article-spotlight.html.twig' with { article: article } %}
    {% endfor %}

    <div class="text-center">
        <a href="{{ path('app_article_list') }}" class="btn btn-varsports mt-3">Voir tous les articles</a>
    </div>
</article>
{% endif %}

{% if profile %}
<article class="container mt-4 article-profile" aria-labelledby="profile">
    <h2 class="text-varsports h3" id="profile">Le portrait</h2>
    {% include 'home/partials/list-item-profile.html.twig' with { article: profile } %}
</article>
{% endif %}

<article class="container my-4" aria-labelledby="about">
    <h2 class="text-varsports h3" id="about">À propos de VarSports</h2>
    <p><span class="text-varsports">VarSports</span> est le Premier journal du Sport Varois : Informations, Agenda, Portraits, Collectivités, Résultats, Jeux, Classements, etc. Un journal qui permet à l'ensemble des acteurs sportifs, de disposer gratuitement d'un réel réseau sur lequel chacun peut exprimer ses performances, ses compétences, ses mouvements, ses besoins ainsi que ses différentes manifestations et rdv… Bien plus que de l'activité physique, l'entraînement ou la compétition; le sport est un outil de construction de soi permettant de se s'épanouir en tant qu'individu et s'approprier de nobles valeurs telles que : Respect, Fair-play & Tolérance. De son audience sur le web et les réseaux sociaux, VarSports fédère et encourage à explorer, jouer, discuter, partager dont découlent des liens solides entre : clubs, licenciés, dirigeants, collectivités territoriales, sponsors, familles et le public.</p>

    <p>Vous aussi, faites connaître votre Club ! ” Envoyez-nous vos infos & photos, nous les publions illico !” - Écrire à : <a href="mailto:info@varsports.fr" class="text-varsports">info@varsports.fr</a></p>

    <p class="text-body-tertiary">#running #football #rugby #volleyball #athlétisme #handball #basketball #futsal #boxe #fitness #golf #handisport #combat #fight #défense #natation #musculation #judo #randonnée #vol #volavoile #canicross #bmx #tir #athlétisme #vtt #plongée #aviron #padel #surf #tennis #paddle #triathlon #kitefoil #kite surf #voile #crossfit #danse #cyclisme #trail #run #balles #ballon #raquettes #courts #course #info #informations #var #sports #varsports</p>
</article>
{% endblock %}
