{% extends 'base.html.twig' %}

{% block title %} | Créer un compte{% endblock %}

{% block body %}
    <div class="container my-5">
        <main role="main">
            <section class="row">
                <div class="col-md-6 offset-md-3">
                    <h1 class="h3 mb-3 font-weight-normal">Créer un compte</h1>

                    {% for flash_error in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger text-center" role="alert" aria-live="polite">{{ flash_error }}</div>
                    {% endfor %}

                    {{ include('partials/flash.html.twig') }}

                    {{ form_errors(registration_form) }}

                    {{ form_start(registration_form) }}
                        {{ form_row(registration_form.name, {'attr': {'autocomplete': 'name', 'aria-describedby': 'nameHelp'}}) }}
                        {{ form_row(registration_form.firstname, {'attr': {'autocomplete': 'given-name', 'aria-describedby': 'firstnameHelp'}}) }}
                        {{ form_row(registration_form.email, {'attr': {'autocomplete': 'email', 'aria-describedby': 'emailHelp'}}) }}
                        {{ form_row(registration_form.phone, {'attr': {'autocomplete': 'tel', 'aria-describedby': 'phoneHelp'}}) }}
                        {{ form_row(registration_form.plainPassword, {'attr': {'autocomplete': 'new-password', 'aria-describedby': 'passwordHelp'}}) }}
                        {{ form_row(registration_form.agreeTerms, {'attr': {'aria-describedby': 'termsHelp'}}) }}
                        {{ form_widget(registration_form.submit) }}
                    {{ form_end(registration_form) }}
                </div>
            </section>
        </main>
    </div>
{% endblock %}