{% extends 'base.html.twig' %}

{% block title %} | Créer un compte{% endblock %}

{% block body %}
    <div class="container my-5">
        <section class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="h3 mb-3 font-weight-normal">Créer un compte</h1>

                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger text-center" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ include('flash.html.twig') }}

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.firstname)}}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    {{ form_widget(registrationForm.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                {{ form_end(registrationForm) }}
            </div>
        </section>
    </div>
{% endblock %}
