<footer class="bg-dark text-white py-4 mt-auto" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2 class="h5">Informations légales</h2>
                <p>VarSports</p>
                <p>83000 Toulon, France</p>
                <p>Numéro SIRET : 849 740 147 00012</p>
                <p>Association loi 1901 - Réf. W832015601</p>
            </div>

            <div class="col-md-3">
                <h2 class="h5">Contact</h2>
                <p>Email : <a href="mailto:{{ contact_mail_varsports }}" class="text-white" aria-label="Email VarSports">{{ contact_mail_varsports }}</a></p>
                <p>Téléphone : <a href="tel:+33664765613" class="text-white" aria-label="Appeler VarSports au 06 64 76 56 13">06 64 76 56 13</a></p>
                <p><a href="{{ path('app_contact') }}" class="text-white" aria-label="Formulaire de contact">Formulaire de contact</a></p>
            </div>

            <div class="col-md-3">
                <h2 class="h5">Liens utiles</h2>
                <p><a href="{{ path('app_legals_mentions') }}" class="text-white">Mentions légales</a></p>
                <p><a href="{{ path('app_legals_privacy_policy') }}" class="text-white">Politique de confidentialité</a></p>
                <p><a href="{{ path('app_legals_conditions_use') }}" class="text-white">CGU</a></p>
                <p><a href="{{ path('app_legals_conditions_sales') }}" class="text-white">CGV</a></p>
            </div>

            <div class="col-md-3">
                <h2 class="h5">Suivez-nous</h2>
                <a href="https://www.facebook.com/varsports.vs/" class="text-white me-2" aria-label="Suivez-nous sur Facebook">Facebook</a><br>
                <a href="https://www.linkedin.com/company/varsports-fr/" class="text-white me-2" aria-label="Suivez-nous sur LinkedIn">LinkedIn</a><br>
                <a href="https://www.instagram.com/varsports_officiel" class="text-white me-2" aria-label="Suivez-nous sur Instagram">Instagram</a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-3">
                <h2 class="h5">Accès membre</h2>
                <p><a href="{{ path('app_login') }}" class="text-white" aria-label="Espace membre VarSports">Espace membre</a></p>
            </div>

            <div class="col-md-3">
                <h2 class="h5">Accessibilité</h2>
                <p><a href="#" class="text-white" aria-label="Déclaration d'accessibilité">Déclaration d'accessibilité</a></p>
                <p><a href="#" class="text-white">Plan du site</a></p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col text-center">
                <p class="mb-0">&copy; {{ 'now'|date('Y') }} VarSports. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>
