<nav class="navbar bg-body-tertiary" aria-label="Logo navbar">
    <div class="container">
        <a class="navbar-brand m-auto" href="app_home_index">
            <picture class="d-flex align-items-center">
                <source srcset="{{ asset('images/varsports_logo.webp') | imagine_filter('logo_varsports_header_webp') }}" type="image/webp">
                <source srcset="{{ asset('images/varsports_logo.png') | imagine_filter('logo_varsports_header_png') }}" type="image/png">
                <img src="{{ asset('images/varsports_logo.webp') }}" alt="Logo de VarSports" loading="lazy" class="d-inline-block align-text-top img-fluid" width="550" height="110" rel="preload">
            </picture>
        </a>
    </div>
</nav>

<nav class="navbar navbar-expand-lg bg-danger" aria-label="Main navigation">
    <div class="container-fluid">
        <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white active" aria-current="page" href="{{ path('app_home_index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_club_list') }}">Les clubs</a>
                </li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_ADMIN_CLUB') %}
                                <li><a class="dropdown-item" href="{{ path('app_user_list') }}">Voir les utilisateurs</a></li>

                                {% if not is_granted('ROLE_ADMIN') %}
                                    {% if app.user.club is null %}
                                        <li><a class="dropdown-item" href="{{ path('app_admin_club_create') }}">Créer un club</a></li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{{ path('app_club_show', {'slug': app.user.club.slug}) }}">Voir mon club</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_user_create') }}">Créer un membre</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('app_admin_discipline_dashboard') }}">Gérer les disciplines</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav me-0 flex-row">
                <li class="nav-item px-2">
                    <a class="nav-link text-white" href="https://www.instagram.com/varsports_officiel" aria-label="VarSports Instagram link"><i class="bi bi-instagram"></i></a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-white" href="https://www.facebook.com/varsports.vs/" aria-label="VarSports Facebook link"><i class="bi bi-facebook"></i></a>
                </li>
                <li class="nav-item px-2"><a class="nav-link text-white" href="https://www.linkedin.com/company/varsports-fr/" aria-label="VarSports LinkedIn link">
                    <i class="bi bi-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
