<div class="d-flex justify-content-center">
    <nav aria-label="Pagination">
        <ul class="pagination">
            {# Left arrows #}
            {% if current_page == 1 %}
                <li class="page-item disabled" aria-disabled="true">
                    <a class="page-link" href="#" tabindex="-1" aria-label="First Page">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item disabled" aria-disabled="true">
                    <a class="page-link" href="#" tabindex="-1" aria-label="Previous Page">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link text-black" href="{{ path(path, query_params|merge({ page: 1 }) ) }}" aria-label="First Page">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-black" href="{{ path(path, query_params|merge({ page: current_page - 1 }) ) }}" aria-label="Previous Page">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {# Middle pages #}
            {% for i in max(1, current_page - 2)..min(nb_pages, current_page + 2) %}
                {% if i == current_page %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link bg-varsports border-varsports" href="#" aria-label="Current Page, Page {{ i }}">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link text-varsports" href="{{ path(path, query_params|merge({ page: i }) ) }}" aria-label="Go to Page {{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {# Right arrows #}
            {% if current_page == nb_pages %}
                <li class="page-item disabled" aria-disabled="true">
                    <a class="page-link" href="#" tabindex="-1" aria-label="Next Page">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item disabled" aria-disabled="true">
                    <a class="page-link" href="#" tabindex="-1" aria-label="Last Page">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link text-black" href="{{ path(path, query_params|merge({ page: current_page + 1 }) ) }}" aria-label="Next Page">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-black" href="{{ path(path, query_params|merge({ page: nb_pages }) ) }}" aria-label="Last Page">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
