<div class="d-flex justify-content-center">
    <nav aria-label="Navigation clubs">
        {% set query_params = { term: term, disciplines: selected_disciplines } %}
        <ul class="pagination">
            {# Left arrows #}
            {% if current_page == 1 %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{ path(path, query_params|merge({ page: 1 }) ) }}" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>

                <li class="page-item disabled">
                    <a class="page-link" href="{{ path(path, query_params|merge({ page: nb_pages > 1 ? current_page - 1 : 1 }) ) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link text-black" href="{{ path(path, query_params|merge({ page: 1 }) ) }}" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {# Middle pages #}
            {% for i in max(1, current_page - 2)..min(nb_pages, current_page + 2) %}
                {% if i == current_page %}
                    <li class="page-item active">
                        <a class="page-link bg-danger border-danger" href="{{ path(path, query_params|merge({ page: i }) ) }}" aria-current="page">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item {% if i == current_page %}active{% endif %}">
                        <a class="page-link text-danger" href="{{ path(path, query_params|merge({ page: i }) ) }}" {{ i == current_page ? 'aria-current="page"' : ''}}>{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {# Right arrows #}
            {% if current_page == nb_pages %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{ path(path, query_params|merge({ page: nb_pages > 1 ? current_page + 1 : 1 }) ) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

                <li class="page-item disabled">
                    <a class="page-link" href="{{ path(path, query_params|merge({ page: nb_pages }) ) }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link text-black" href="{{ path(path, query_params|merge({ page: current_page + 1 }) ) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link text-black" href="{{ path(path, query_params|merge({ page: nb_pages }) ) }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
