<div class="card my-0 mx-auto mb-3 border border-0" role="article" aria-labelledby="article-{{ article.id }}-title">
    <div class="row g-0">
        <div class="col-md-4 order-md-2">
            <picture>
                <source srcset="{{ (asset('images/uploads/article/') ~ (article.image ? article.id ~ '/' ~ article.image : 'default_cover.webp')) | imagine_filter('cover_article_event_list_webp') }}" type="image/webp">
                <source srcset="{{ (asset('images/uploads/article/') ~ (article.image ? article.id ~ '/' ~ article.image : 'default_cover.webp')) | imagine_filter('cover_article_event_list_jpg') }}" type="image/jpeg">
                <img src="{{ asset('images/uploads/article/') ~ (article.image ? article.id ~ '/' ~ article.image : 'default_cover.webp') }}" alt="Couverture de l'article {{ article.title }}" class="img-fluid object-fit-cover w-100 rounded-top-1 article-cover-list" loading="lazy" width="390" height="140">
            </picture>
        </div>
        <div class="col-md-8 order-md-1">
            <div class="card-body">
                <h5 class="card-title" id="article-{{ article.id }}-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.text|striptags|slice(0, 100)|raw|nl2br }}...</p>
                {% if article.slug %}
                    <i>Lire + :</i> <a class="text-varsports stretched-link" href="{{ path('app_article_show', {'slug': article.slug}) }}">{{ article.slug }}</a>
                {% elseif article.externalLink %}
                    <i>Lire + :</i> <a class="text-varsports stretched-link" href="{{ article.externalLink }}">{{ article.externalLink }}</a>
                {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
