<div class="card rounded-0 p-0 m-auto border-varsports overflow-hidden" role="article" aria-labelledby="article-{{ article.id }}-title">
    <div class="position-relative">
        <picture>
            <source srcset="{{ (asset('images/uploads/article/') ~ (article.image ? article.id ~ '/' ~ article.image : 'default_cover.webp')) | imagine_filter('cover_article_event_list_webp') }}" type="image/webp">
            <source srcset="{{ (asset('images/uploads/article/') ~ (article.image ? article.id ~ '/' ~ article.image : 'default_cover.webp')) | imagine_filter('cover_article_event_list_jpg') }}" type="image/jpeg">
            <img src="{{ asset('images/uploads/article/') ~ (article.image ? article.id ~ '/' ~ article.image : 'default_cover.webp') }}" alt="Couverture de l'article {{ article.title }}" class="img-fluid object-fit-cover w-100 article-cover-list" loading="lazy" width="390" height="140">
        </picture>
    </div>

    <div class="card-body p-1 mt-3 mt-sm-5 mt-md-3">
        <h3 id="article-{{ article.id }}-title" class="h6 card-title text-varsports">{{ article.title }}</h3>
        <small class="text-start">
            {{ article.text|striptags|slice(0, 100)|raw|nl2br }}...
            {% if article.externalLink %}
                <br>Voir + : <a class="stretched-link text-decoration-none" href="{{ article.externalLink }}">Lien</a>
            {% endif %}
        </small>
    </div>
</div>
