<div class="card mb-3 overflow-hidden article-spotlight">
    <div class="row g-0">
        <div class="col-md-4">
            <picture>
                <source srcset="{{ (asset('images/uploads/article/') ~ (article.image ? article.id ~ '/' ~ article.image : 'default_cover.webp')) | imagine_filter('cover_article_event_list_webp') }}" type="image/webp">
                <source srcset="{{ (asset('images/uploads/article/') ~ (article.image ? article.id ~ '/' ~ article.image : 'default_cover.webp')) | imagine_filter('cover_article_event_list_jpg') }}" type="image/jpeg">
                <img src="{{ asset('images/uploads/article/') ~ (article.image ? article.id ~ '/' ~ article.image : 'default_cover.webp') }}" alt="Couverture de l'article {{ article.title }}" class="img-fluid rounded-start object-fit-cover w-100" loading="lazy" width="390" height="140">
            </picture>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-varsports">{{ article.title }}</h5>
                <p class="card-text">{{ article.text|striptags|slice(0, 100) }}...</p>
                {% if article.slug %}
                    <a href="{{ path('app_article_show', { slug: article.slug }) }}" class="btn btn-varsports stretched-link" aria-label="Lire l'article '{{ article.title }}'">Lire l'article</a>
                {% elseif article.externalLink %}
                    <a href="{{ article.externalLink }}" class="btn btn-varsports stretched-link" aria-label="Lire l'article '{{ article.title }}'">Lire l'article</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
