{% extends 'base.html.twig' %}

{% block title %} | {{ legals.title }}{% endblock %}

{% block body %}
<section class="container my-5">
    <h1 class="h3 mb-3 font-weight-normal">{{ legals.title }}</h1>
    
    <article>
        {{ legals.text|raw }}
    </article>

    
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="{{ path('app_legals_edit', {'id': legals.id}) }}" rel="nofollow" role="button" aria-label="Modifier {{ legals.title }}">Modifier</a>
    {% endif %}
</section>
{% endblock %}
