{% extends 'base.html.twig' %}

{% block title %} | Nos clubs{% endblock %}

{% block canonical %}
<link rel="canonical" href="{{ path('app_club_list') }}">
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/club-list.css') }}">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/search.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="container-fluid my-5">

    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">Nos clubs</h1>

        {% include 'partials/flash.html.twig' %}

        {% include 'club/partials/search.html.twig' with {
            term: term,
            selected_disciplines: selected_disciplines,
            selected_cities: selected_cities
        } %}
    </div>

    <div class="row justify-content-center">
        {% for club in clubs %}
            {% include 'club/partials/club-item.html.twig' with { club: club } %}
        {% endfor %}
    </div>

    {% include 'partials/pagination.html.twig' with {
        current_page: current_page,
        nb_pages: nb_pages,
        path: 'app_club_list',
        params: {
            term: term,
            disciplines: selected_disciplines,
            cities: selected_cities
        }
    } %}
</div>
{% endblock %}
