{% extends 'base.html.twig' %}

{% block title %} | {{ club.name }}{% endblock %}

{% block body %}
<div class="container my-5">
    {% include 'flash.html.twig' %}
    
    <section class="row mb-5 align-items-center gap-3">
        <img src="{{ asset("uploads/club/images/") ~ (club.logo ? club.logo : 'white.png') }}" alt="Logo du club {{ club.name }}" class="img-fluid rounded-circle col-3 mb-3">

        <div class="col-md-8">
            <h1 class="font-weight-normal">{{ club.name }}</h1>

            <p>{{ club.address }}</p>
            {% if club.addressComplement %}
                <p>{{ club.addressComplement }}</p>
            {% endif %}
            <p>{{ club.postalCode }} {{ club.city }}</p>

            <div class="row">
                <article class="col-md-6">
                    <h3>Coordonnées</h3>
                    <p>Téléphone : {{ club.phone }}</p>
                    <p>E-mail : {{ club.email }}</p>
                    {% if club.website %}
                        <p>Site web : <a href="{{ club.website }}">{{ club.website }}</a></p>
                    {% endif %}
                </article>

                <article class="col-md-6">
                    <h3>Disciplines</h3>

                    {% for discipline in club.disciplines %}
                        <span class="badge text-bg-secondary">{{ discipline.label }}</span>
                    {% endfor %}
                </article>
            </div>
        </div>
    </section>

    <section>
        <h2>À propos</h2>
        <p class="lead">{{ club.description }}</p>
    </section>

    {% if is_granted('ROLE_ADMIN_CLUB') %}
        <section class="mt-5">
            <h2>Actions</h2>
            <a href="{{ path('app_admin_club_edit', {'id': club.id}) }}" class="btn btn-warning">Modifier</a>
            <a href="{{ path('app_admin_club_delete', {'id': club.id}) }}" class="btn btn-danger">Supprimer</a>
        </section>
    {% endif %}
</div>
{% endblock %}
