{% extends 'base.html.twig' %}

{% block title %} | {{ club.name }}{% endblock %}

{% block body %}
<div class="container-lg">
    <section class="d-flex flex-row mb-5 gap-5 align-items-center">
        <img src="{{ asset("uploads/images/") ~ (club.logo ? club.logo : 'white.png') }}" alt="Logo du club {{ club.name }}" class="w-25 rounded-circle">

        <div class="">
            <h1>{{ club.name }}</h1>

            <p>{{ club.address }}</p>
            <p>{{ club.postalCode }} {{ club.city }}</p>

            <div>
                <p>Coordonnées</p>
                <ul>
                    <li>Téléphone : {{ club.phone }}</li>
                    <li>E-mail : {{ club.email }}</li>
                    {% if club.website %}
                        <li>Site web : <a href="{{ club.website }}">{{ club.website }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>

    <section>
        <h2>À propos</h2>
        <p>{{ club.description }}</p>
    </section>

    <section class="mt-5">
        <h2>Actions</h2>
        <a href="{{ path('app_admin_club_edit', {'id': club.id}) }}" class="btn btn-warning">Modifier</a>
        <a href="{{ path('app_admin_club_delete', {'id': club.id}) }}" class="btn btn-danger">Supprimer</a>
    </section>
</div>
{% endblock %}
