{% extends 'base.html.twig' %}

{% block title %} | {{ club.name }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/club-show.css') }}">
<link rel="stylesheet" href="{{ asset('css/article-list.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid mt-2 mb-5">
    {% include 'partials/flash.html.twig' %}

    <div class="position-relative">
        <picture>
            <source srcset="{{ (asset('images/uploads/club/') ~ (club.coverImage ? club.id ~ '/' ~ club.coverImage : 'default_cover.webp'))  | imagine_filter('cover_club_show_webp') }}" type="image/webp">
            <source srcset="{{ (asset('images/uploads/club/') ~ (club.coverImage ? club.id ~ '/' ~ club.coverImage : 'default_cover.webp'))  | imagine_filter('cover_club_show_jpg') }}" type="image/webp">
            <img src="{{ asset('images/uploads/club/') ~ (club.coverImage ? club.id ~ '/' ~ club.coverImage : 'default_cover.webp') }}" alt="Couverture du club {{ club.name }}" class="img-fluid object-fit-cover w-100 rounded club-cover">
        </picture>

        <picture>
            <source srcset="{{ (asset('images/uploads/club/') ~ (club.logo ? club.id ~ '/' ~ club.logo : 'default_logo.webp')) | imagine_filter('logo_club_show_webp') }}" type="image/webp">
            <source srcset="{{ (asset('images/uploads/club/') ~ (club.logo ? club.id ~ '/' ~ club.logo : 'default_logo.webp')) | imagine_filter('logo_club_show_jpg') }}" type="image/webp">
            <img src="{{ asset('images/uploads/club/') ~ (club.logo ? club.id ~ '/' ~ club.logo : 'default_logo.webp') }}" alt="Logo du club {{ club.name }}" class="img-fluid rounded-circle col-3 col-md-2 mb-3 border border-white bg-white border-5 position-absolute top-100 start-50 translate-middle object-fit-cover club-logo">
        </picture>
    </div>

    <div class="container my-5">
        <section class="mb-5 align-items-center gap-3">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="font-weight-normal mt-5">{{ club.name }}</h1>

                    <p>{{ club.address }}</p>
                    {% if club.addressComplement %}
                        <p>{{ club.addressComplement }}</p>
                    {% endif %}
                    {% if not club.city is null %}
                        <p>{{ club.city.postalCode }} {{ club.city.name }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <article class="col-md-6">
                    <h3>Coordonnées</h3>
                    <p>Téléphone : <a href="tel:{{ club.phone }}">{{ club.phone }}</a></p>
                    <p class="text-break">E-mail : <a href="mailto:{{ club.email }}">{{ club.email }}</a></p>
                    {% if club.website %}
                        <p class="text-break">Site web : <a href="{{ club.website }}">{{ club.website }}</a></p>
                    {% endif %}
                </article>

                <div class="col-md-6">
                    {% if club.hasSocialMedia %}
                        <article class="mb-3">
                            <h3>Réseaux sociaux</h3>

                            <div>
                                {% if club.instagram %}
                                    <a href="{{ club.instagram }}" aria-label="{{ club.name }} Instagram link" class="text-dark fs-2 mx-2" title="Instagram"><i class="bi bi-instagram"></i></a>
                                {% endif %}

                                {% if club.facebook %}
                                    <a href="{{ club.facebook }}" aria-label="{{ club.name }} Facebook link" class="text-dark fs-2 mx-2" title="Facebook"><i class="bi bi-facebook"></i></a>
                                {% endif %}

                                {% if club.youtube %}
                                    <a href="{{ club.youtube }}" aria-label="{{ club.name }} YouTube link" class="text-dark fs-2 mx-2" title="YouTube"><i class="bi bi-youtube"></i></a>
                                {% endif %}
                            </div>
                        </article>
                    {% endif %}

                    <article>
                        <h3>Disciplines</h3>

                        {% for discipline in club.disciplines %}
                            <span class="badge text-bg-secondary">{{ discipline.label }}</span>
                        {% endfor %}
                    </article>
                </div>
            </div>
        </section>

        {% if club.description %}
            <section>
                <h2>Informations complémentaires</h2>
                <p>{{ club.description|raw|nl2br }}</p>
            </section>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMIN_CLUB') and app.user.club is not null and app.user.club.id == club.id %}
            <section class="mt-5">
                <h2>Actions</h2>
                <a href="{{ path('app_admin_club_edit', {'id': club.id}) }}" class="btn btn-warning" rel="nofollow">Modifier</a>
                <a href="{{ path('app_admin_club_delete', {'id': club.id}) }}" class="btn btn-danger" rel="nofollow">Supprimer</a>
            </section>
        {% endif %}

        {% if articles|length > 0 %}
            <section class="mt-5">
                <h2>Articles</h2>

                <div class="row justify-content-center">
                    {% for article in articles %}
                        {% include 'article/partials/article-item.html.twig' with { article: article } %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </div>
</div>
{% endblock %}
