<div class="card card-event d-flex flex-column justify-content-between rounded-1 mb-4 p-0 {{ event.endDate < date() ? 'opacity-50' : '' }}" role="region" aria-labelledby="event-{{ event.id }}-title">
    <div class="row g-0">
        <div class="position-relative col-md-3">
            <picture>
                {% if event.image %}
                    {% set image = (asset('images/uploads/event/') ~ event.id ~ '/' ~ event.image) %}
                {% elseif event.club and event.club.logo %}
                    {% set image = (asset('images/uploads/club/') ~ event.club.id ~ '/' ~ event.club.logo) %}
                {% else %}
                    {% set image = (asset('images/uploads/event/default_cover.webp')) %}
                {% endif %}
                <source srcset="{{ image | imagine_filter('cover_article_event_list_webp') }}" type="image/webp">
                <source srcset="{{ image | imagine_filter('cover_article_event_list_jpg') }}" type="image/jpeg">
                <img src="{{ image }}" alt="Couverture de l'événement {{ event.title }}" class="img-fluid object-fit-cover w-100 rounded-start event-cover-list" loading="lazy" width="270" height="270">
            </picture>
        </div>

        <div class="card-body p-3 mt-3 mt-sm-5 mt-md-3 col-md-8">
            <h3 id="event-{{ event.id }}-title" class="h5 card-title">
                <a href="{{ path('app_event_show', {'slug': event.slug}) }}" class="stretched-link text-decoration-none text-black">{{ event.title }}</a>
            </h3>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <p class="card-text mb-0 text-body-secondary">{{ event.startDate|date('d/m/Y à H:i') }} - {{ event.endDate|date('d/m/Y à H:i') }}</p>
                    <p class="card-text mb-0 text-body-secondary">Adresse : {{ event.place ? event.place : 'Non précisée' }}</p>
                    <p class="card-text mb-0 text-body-secondary">Ville : {{ event.city and event.city.name ? event.city.name : 'Non précisée' }} {{ event.city and event.city.postalCode ? '(' ~ event.postalCode ~ ')' : '' }}</p>
                    <p class="card-text mb-3 text-body-secondary">Club : {{ event.club ? event.club.name : 'Non précisé' }}</p>
                </div>

                {% if is_granted('ROLE_MEMBER_VARSPORTS') %}
                    <div class="col-md-6">
                        <p class="card-text mb-0 text-body-secondary">Personnes présentes :</p>
                        <ul class="list-unstyled text-body-secondary">
                            {% for varsportsMember in event.varsportsMembers %}
                                <li>{{ varsportsMember.name }} {{ varsportsMember.firstname }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-9">
                    <p class="card-text mt-0">{{ event.text|striptags|slice(0, 100) }}...</p>
                </div>

                <div class="col-md-3 d-flex justify-content-end mt-lg-3">
                    <a href="{{ path('app_event_show', {'slug': event.slug}) }}" class="btn btn-varsports stretched-link">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>
