{% extends 'base.html.twig' %}

{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css">
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% include 'partials/js-ckeditor.html.twig' %}
<script src="{{ asset('js/article-create-edit.js') }}" defer></script>
{% endblock %}

{% block title %} | Admin - {{ title }}{% endblock %}

{% block body %}
<div class="container my-5">
    <section>
        <h1 class="h3 mb-3 font-weight-normal">{{ title }}</h1>

        {% include 'partials/flash.html.twig' %}

        {{ form_start(form, {'attr': {'aria-labelledby': 'form-title'}}) }}
            <fieldset>
                <legend id="form-title" class="visually-hidden">{{ title }}</legend>
                
                {{ form_row(form.title, {'attr': {'aria-required': 'true'}}) }}
                {{ form_row(form.text, {'attr': {'aria-required': 'true'}}) }}
                {{ form_row(form.image, {'attr': {'aria-required': 'true'}}) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.homeCategory, {'attr': {'aria-required': 'false'}}) }}
                    </div>
                    <div class="col-md-6" id="external-link">
                        {{ form_row(form.externalLink, {'attr': {'aria-required': 'false'}}) }}
                    </div>
                </div>
                {{ form_row(form.submit, {'attr': {'aria-label': 'Créer l\'article'}}) }}
            </fieldset>
        {{ form_end(form) }}
    </section>
</div>
{% endblock %}
