{% extends 'base.html.twig' %}

{% block title %} | {{ article.title }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/article-show.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid mt-2 mb-5">
    {% include 'partials/flash.html.twig' %}

    <div class="position-relative">
        <picture>
            <source srcset="{{ (asset('images/uploads/article/') ~ (article.image ? article.id ~ '/' ~ article.image : 'default_cover.webp'))  | imagine_filter('cover_article_show_webp') }}" type="image/webp">
            <source srcset="{{ (asset('images/uploads/article/') ~ (article.image ? article.id ~ '/' ~ article.image : 'default_cover.webp'))  | imagine_filter('cover_article_show_jpg') }}" type="image/webp">
            <img src="{{ asset('images/uploads/article/') ~ (article.image ? article.id ~ '/' ~ article.image : 'default_cover.webp') }}" alt="Couverture de l'article {{ article.title }}" class="img-fluid object-fit-cover w-100 rounded article-cover">
        </picture>
    </div>

    <div class="container my-5">
        <section class="mb-5 align-items-center gap-3">
            <h1 class="font-weight-normal mt-5">{{ article.title }}</h1>

            <p>{{ article.creationDate|date('d/m/Y') }}</p>

            <p>{{ article.text|raw|nl2br }}</p>
        </section>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMIN_CLUB') and app.user.club is not null and article.club is not null and app.user.club.id == article.club.id %}
            <section class="mt-5">
                <h2>Actions</h2>
                <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}" class="btn btn-warning" rel="nofollow">Modifier</a>
                <a href="{{ path('app_admin_article_delete', {'id': article.id}) }}" class="btn btn-danger" rel="nofollow">Supprimer</a>
            </section>
        {% endif %}
    </div>
</div>
{% endblock %}
